*{
padding:0px;
margin: 0px;
}
.parrent{
    position: relative;
    z-index: 1;
    width: 800px;
}
.img{
    float: left;
    width: 100px;
    height: 100px;
}

.txt{
    display: inline-block;
    width: 100px;
    height: 100px;
}